<div>
  <div class="landscape clip"></div>
  <div id="clip3" class="clip"></div>
  <div id="clip4" class="clip"></div>
  <div id="clipa" class="clip"></div>
  <div id="clip1" class="clip"></div>
  <div id="clip2" class="clip"></div>
  <div id="clipb" class="clip"></div>

</div>
<div class="about-us d-flex flex-column container mt-lg-separate">
  <div class="about-us-info row">
    <p class="text-color">
      <span class="font-weight-bold">Negocios Nacionales</span> is a Peruvian company created in 2016, dedicated to the
      fishery products production and
      export, and managed by professionals with more than 20 years in the fishing industry. Currently, the company is
      versed to fishery production and broking in order to cover all orders, making sure to always have stock. The
      corporation relies on specialized technical personnel and processes in cold storage plants that have sanitary
      permits to export to different markets such as Asia, Europe and the United States of America, complying with
      current sanitary regulations.
    </p>

  </div>
  <div class="extra-info d-flex flex-column flex-md-row row text-color text-size">
    <div class="mission d-flex flex-row col-12 col-md-6">
      <img src="{{mission}}" alt="" class="extra-info-icon mr-4">
      <div class="d-flex flex-column">
        <p class="font-weight-bold">Mission</p>
        <p class="text-color--faded">Provide excellent customer service with high quality products processed according
          to international quality standards.</p>
      </div>
    </div>
    <div class="vision d-flex flex-row col-12 col-md-6">
      <img src="{{vision}}" alt="" class="extra-info-icon mr-4">
      <div class="d-flex flex-column">
        <p class="font-weight-bold">Vision</p>
        <p class="text-color--faded">Aim to reach the world market with high quality products and very competitive
          prices, creating new jobs and new assets to the country.</p>
      </div>
    </div>
    <div class="values d-flex flex-row col-12 mt-md-4">
      <img src="{{values}}" alt="" class="extra-info-icon">
      <div class="d-flex flex-column">
        <p class="font-weight-bold">Values</p>
        <ol>
          <li class="text-color--faded"><span class="font-weight-bold text-color">Honesty: </span>Act with transparency
            and ethics as a company and as individuals.</li>
          <li class="text-color--faded"><span class="font-weight-bold text-color">Teamwork: </span>Collaborators trust
            built on good communication and integration so as to achieve work goals.</li>
          <li class="text-color--faded"><span class="font-weight-bold text-color">Responsibility: </span>Commitment to
            act consistently and accept consequences of actions taken as a collaborator.</li>
          <li class="text-color--faded"><span class="font-weight-bold text-color">Integrity: </span>Integrity and
            loyalty when making decisions, taking into account the company’s ethics and best interest.</li>
          <li class="text-color--faded"><span class="font-weight-bold text-color">Respect: </span>Value people’s
            different customs and cultures, without discrimination.</li>
        </ol>
      </div>
    </div>

  </div>
  <hr class="divider my-5">
  <div class="contact-us text-size d-flex justify-content-center mb-5">
    <img src="{{email}}" alt="email" class="email mr-3">
    <p class="text-color align-self-center">Contact us at: <a
        href="mailto:info@negociosnacionales.com">info@negociosnacionales.com</a></p>
  </div>

</div>
