$cyan: #00b2f0;
$electric-blue: #87f7fe;


::ng-deep {
  carousel.custom-carousel .carousel.slide {
    width: 700px;

    .h-600px {
      height: 600px;
    }
  }

}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  //max-width: 130px;
}

.modal-header .close.close--8pxp {
  padding: 8px;
  margin: -1rem -1rem -1rem auto;
}

.card-example {
  border-radius: 3px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  height: 450px;
  overflow: hidden;
  padding: 0px;
  position: relative;

  .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background-image:
      linear-gradient($cyan, $electric-blue);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;

    .user-card {
      width: 150px;
      height: 100%;
      padding: 6px;
      position: relative;
      float: left;

      .catch-area,
      .season {
        top: 70%;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: bold;
        background: rgba(0, 0, 0, 0.15);
        padding: 0.125rem 0.75rem;
        border-radius: 100px;
        white-space: nowrap;
      }

      .season {
        top: 72%;
      }

      .product-picture {
        border-radius: 50%;
        height: 200px;
        top: 50%;
        width: 200px;
        -webkit-transform: translate(-20%, 6%);
      }

    }

    .user-card::after {
      content: "";
      display: block;
      position: absolute;
      top: 10%;
      right: -2px;
      height: 80%;
      border-left: 2px solid rgba(0, 0, 0, 0.025);
    }

    .more-info {
      float: left;
      left: 190px;
      height: 100%;
      position: absolute;
      width: 300px;

      h1 {
        color: #fff;
        margin-bottom: 0;
      }
    }

    .coords {
      margin: 0 1rem;
      color: #fff;
      font-size: 1rem;


      span+span {
        float: right;
      }
    }

    .coords:first-of-type {
      margin-top: 1rem;
    }

    .stats {
      font-size: 2rem;
      display: flex;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      top: auto;
      color: #fff;

      div.title {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      div.value {
        font-size: 0.95rem;
        font-weight: bold;
        line-height: 1.5rem;
      }

      div.value.infinity {
        font-size: 2.5rem;
      }

      .boat-picture {
        display: block;
        height: 40px;
        width: 40px;
      }
    }

    .stats>div {
      flex: 1;
      text-align: center;
    }
  }

  .general {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;

    .more {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      font-size: 0.9em;
    }

  }


}

.card-example:hover .additional {
  width: 100%;
}
