$cyan: #00b2f0;
$electric-blue: #87f7fe;
$green-blue: #1368B2;

.bg-light-blue {
  background-color: $cyan;
  background-image:
    linear-gradient($cyan, $electric-blue);
}

.navbar-light .navbar-toggler--border {
  color: rgba(0, 0, 0, .5);
  border-color: $green-blue;
}

.navbar-toggler {
  padding: .25rem .55rem;
}

.navbar-nav .nav-link.active.active--color {
  color: rgba(2, 14, 77, .9);
}

.lnr-menu {
  color: $green-blue;
  display: inline-block;
  font-size: 26px;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.logo {
  margin-right: 0rem;
  width: 90px;

  @media (min-width: 1024px) {
    margin-right: 1rem;
    width: 8%;
  }
}

.logo:focus {
  outline: none;
}
